<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
    <div id="dates">
            <p><%= weekDay %> | </p><br>
            <p> <%= day %>  </p>
            <p><%=month%>    </p>
    </div>
        <div class="progress-container">
        <div class="progress-bar" id="progress-bar"></div>
    </div>
    <div class="habits">
    <% allHabits.forEach( (oneHabit) => {%>
        <label class="checkbox-control">
        <input type="checkbox" name="checkbox" onchange="increaseProgress(); checkHabit('<%= oneHabit._id %>', this.checked)" 
        <%= oneHabit.checked ? "checked" : "" %>
        />
        <span class="custom-checkmark">
        <img src="/images/star.png"/>
        </span>
        <%= oneHabit.name %>
        </label>
        <br />
    <% })%>
    </div>
    <div class="profile-pic"></div>
</div>
<script>
    let progress = 0;
    function increaseProgress() {   
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        const total = checkboxes.length;

        const checked = Array.from(checkboxes).filter(checkbox => checkbox.checked).length;
        const percentage = (checked / total) * 100;
            document.getElementById("progress-bar").style.width = percentage + "%";
        }
        window.onload = increaseProgress;

        function checkHabit(habitId, isChecked) {
            fetch(`/habits/all-habits/${habitId}/check`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ checked: isChecked }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
</script>
</body>
</html>
