<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
    <div id="dates">
            <p><%= weekDay %> | </p><br>
            <p> <%= day %>  </p>
            <p><%=month%>    </p>
    </div>
        <div class="progress-container">
        <div class="progress-bar" id="progress-bar"></div>
    </div>
    <div class="habits">
    <% allHabits.forEach( (oneHabit) => {%>
        <label class="checkbox-control">
        <input type="checkbox" name="checkbox" onchange="changeStatus('<%= oneHabit._id %>' )" 
        <%= oneHabit.checked ? "checked" : "" %> 
        /> 
        <span class="custom-checkmark">
        <img src="/images/star.png"/>
        </span>
        <img src="/images/<%= oneHabit.icon %>" class="habit-icon">
        <%= oneHabit.name %>
        </label>
        <br />
    <% })%>
    <button onclick = "location.href='/habits/add-habit'" class="add-btn">+</button>
    </div>
    <div class="profile-pic">
        <img src="/images/<%= pfp %>" class="pfp" >
    </div>
    
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

<script>
    let progress = 0;
    async function changeStatus(id) {   
        await axios.put(`/habits/check/${id}`)
        
        const today = new Date();
        const weekday = today.toLocaleDateString('en-US', { weekday: 'long' });
        cheakdDays.push(weekday);

        }
    function updateProgressBar() {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        const progressBar = document.getElementById('progress-bar');

            let checkedCount = 0;
            checkboxes.forEach(checkbox => {
                if (checkbox.checked) {
                    checkedCount++;
                }
            });

            const totalCount = checkboxes.length;
            const percentage = totalCount === 0 ? 0 : (checkedCount / totalCount) * 100;

            progressBar.style.width = percentage + '%';

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', updateProgressBar);
        });
        }

        const pfp = document.querySelector('.pfp');
        pfp.addEventListener('click', () => {
            window.location.href = '/auth/profile';
        });

        // Initial update on page load
        updateProgressBar();
</script>
</body>
</html>
